# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Jupyter
.ipynb_checkpoints

# Python/IDE
.pytest_cache/
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage

# Other
.venv/
.env
