yfinance
nsetools
pandas
numpy
requests

beautifulsoup4
scikit-learn
prophet
transformers
torch
plotly
streamlit
mplfinance
joblib
tqdm
lxml
nltk
python-dotenv
textblob
xgboost
seaborn
gspread
oauth2client
finnhub-python
pytz
python-telegram-bot>=21.0
nest_asyncio
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
apscheduler
